.star {
  position: absolute;
  top: 10px;
  right: 8px;
  color: #cdcdcd;
  transition: fill 200ms;
  cursor: pointer;

  @media (min-width: 768px) {
    top: 6px;
    right: 6px;
  }
}

.star[data-active="true"] {
  color: #ffa600;
  animation: fav 600ms ease;
}

@keyframes fav {
  70% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
