:root {
  font-synthesis: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-gray-0: #f8f9fa;
  --color-gray-1: #f1f3f5;
  --color-gray-2: #e9ecef;
  --color-gray-3: #dee2e6;
  --color-gray-4: #ced4da;
  --color-gray-5: #adb5bd;
  --color-gray-6: #868e96;
  --color-gray-7: #495057;
  --color-gray-8: #343a40;
  --color-gray-9: #212529;
  --color-blue-0: #e7f5ff;
  --color-blue-1: #d0ebff;
  --color-blue-2: #a5d8ff;
  --color-blue-3: #74c0fc;
  --color-blue-4: #4dabf7;
  --color-blue-5: #339af0;
  --color-blue-6: #228be6;
  --color-blue-7: #1c7ed6;
  --color-blue-8: #1971c2;
  --color-blue-9: #1864ab;

  --spacing-xs: 0.625rem;
  --spacing-sm: 0.75rem;
  --spacing-md: 1rem;
  --spacing-lg: 1.25rem;
  --spacing-xl: 2rem;
}

body {
  margin: 0;
}

h3,
p {
  margin: 0;
}
